@media (min-width: 768px) and (max-width: 991px) { 
    body{
        #country{
            width: 70% !important;
        }

        #window {
            height: 80vh;
            top: 15vh;
            width: 90%;
            left: 5%;
        }
    }
 }