@media (min-width: 576px) and (max-width: 767px) {
    body {
        #country {
            width: 50% !important;
        }

        #window {
            height: 70vh;
            top: 25vh;
            width: 90%;
            left: 5%;
        }

        .picto{
            display: none !important;
        }
    }
}